@import "tailwindcss";

@layer base {
  :root {
    --Logo-color: #8a5936;
    --button-color: #a0714f;
    --text-color: #f4e5d6;
  }
}

.text-outline {
  color: white;
  -webkit-text-stroke: 1px #895a39;
}

* {
  font-family: "Tajawal", sans-serif;
}
